@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.mic__head::after {
  content: "";
  display: inline-block;
}

.toggle-label, .round, .recording, .mic__head::after, .mic, svg {
  position: absolute;
  top: 50%;
  left: 50%;
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  display: none;
}

svg {
  width: 130px;
  height: 130px;
  margin-top: -65px;
  margin-left: -65px;
}
svg .circle-svg {
  stroke: #000000;
  stroke-width: 3;
  fill: transparent;
}

.mic {
  width: 85px;
  height: 85px;
  margin-top: -42.5px;
  margin-left: -42.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
}
.mic__head {
  background: linear-gradient(45deg, #828282 50%, rgb(95, 95, 95) 50%);
  width: 25.5px;
  width: 30px;
  height: 63.75px;
  border-radius: 30px;
}
.mic__head::after {
  top: 10%;
  background: linear-gradient(45deg, #ffffff 50%, #F06292 90%);
  width: 8px;
  height: 20px;
  border-radius: inherit;
  transform: translate(-50%);
}
.mic__neck {
    background: linear-gradient(45deg, #828282 50%, rgb(95, 95, 95) 50%);
    width: 4.25px;
  height: 17px;
}
.mic__leg {
    background: linear-gradient(45deg, #828282 50%, rgb(95, 95, 95) 50%);
    width: 25.5px;
  height: 4.25px;
  border-radius: 50px;
}

.recording {
  width: 85px;
  height: 85px;
  margin-top: -42.5px;
  margin-left: -42.5px;
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.3s 0s ease;
}

.round {
    background: linear-gradient(45deg, #828282 50%, rgb(95, 95, 95) 50%);
    width: 12.75px;
  height: 12.75px;
  border-radius: 50%;
  margin-top: -6.375px;
  margin-left: -6.375px;
  animation: recording 1s ease-in-out infinite;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.15);
}
.round:first-child {
  left: 20%;
}
.round:nth-child(2) {
  animation-delay: 0.15s;
}
.round:last-child {
  left: 80%;
  animation-delay: 0.3s;
}

.toggle-label {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-top: -65px;
  margin-left: -65px;
  cursor: pointer;
}

#record-toggle:checked ~ svg {
  animation: spinning 3s ease-in-out infinite alternate;
}
#record-toggle:checked ~ svg .circle-svg {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: dash 3s ease-in-out infinite alternate;
}
#record-toggle:checked ~ .mic {
  transform: scale(1.128);
  animation: gone 0.5s 0.3s ease;
  animation-fill-mode: forwards;
}
#record-toggle:checked ~ .recording {
  opacity: 1;
  transform: scale(0.98);
  transition-delay: 0.3s;
}

@keyframes spinning {
  to {
    transform: rotatez(360deg);
  }
}
@keyframes gone {
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}
@keyframes recording {
  0% {
    transform: translatey(0%);
  }
  30% {
    transform: translatey(-30%);
  }
  60% {
    transform: translatey(30%);
  }
  90% {
    transform: translatey(0%);
  }
}
@keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}